.Dropdown {
    position: relative;
    width: 800px;
    padding: 20px;
    border: 5px solid rgb(166, 0, 255);
    margin-bottom: 40px;
}

.Dropdown__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: teal;
    color: white;
}